.play-bar{
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    box-shadow:  0 0 2px 2px #ccc;
    padding: 5px 10px;

}
.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img{
    width: 100%;
}
.play-control{
    width: 20%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}
.progress{
    width: 50%;
}
.progress-title{
    display: flex;
    justify-content: space-between;
}
.ant-progress-inner{
   background: #ccc;
}